@import url("https://use.typekit.net/mqn8eev.css");
:root {
  font-family: 'roc-grotesk-condensed', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  scroll-behavior: smooth;
  display: block;
  color-scheme: light dark;
  color: #CF5C4B;

  background: #F0E6CF!important;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --border-thickness: 20px;

  @media screen and (max-width: 769px) {
    --border-thickness: 10px;
}
}

.tablet-hide {
}


@media screen and (max-width: 769px) {
  .tablet-hide {
    display: none!important;
  }
}

p {
  font-family: 'stix-two-text';
  font-size: 1.2em;
  margin:0;

}

h1 {
  font-size: 4em;
  line-height: 1.1;
  font-family: 'roc-grotesk-condensed', sans-serif;
  font-weight: 700;
  margin: 0;
}

h2 {
  font-family: 'roc-grotesk-condensed', sans-serif;
  font-weight: 700;
  margin: 0;
}

a {
  font-weight: 500;
  color: inherit;
  text-decoration: inherit;
}
a:hover {
  color: #CF5C4B;
}

body {
  margin: 0;
  padding:0;
  place-items: center;
  color: #605D55;
  background: #F0E6CF!important;
}



button {
  border-radius: 8px;
  border: none;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;

}
/* button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */ 

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  button {
    background-color: #f9f9f9;
  }
}



.row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 1em;
}